<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.captonesecondstage">
    <!-- Permission -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Class.Internet_connection.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/professor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/professor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4117198275443536~7132660070"/>
        <activity android:name=".ui.Activity.SplachActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Activity.ProfileStudent_ParentsActivity"
            android:configChanges="keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".ui.Activity.HomePageActivity" />
        <activity
            android:name=".ui.Activity.ProfileTeacherActivity"
            android:configChanges="keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name=".ui.Activity.HomePageActivity"
            android:configChanges="keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name=".ui.Activity.MainActivity"
            android:configChanges="keyboardHidden|screenLayout|screenSize|orientation">
        </activity>

        <receiver
            android:name=".MyWidget"
            android:icon="@drawable/app_logo"
            android:label="Info">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_widget_info" />
        </receiver>
        <receiver
            android:name=".Class.Internet_connection.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


    </application>

</manifest>